[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap.git
[submodule "themes/cleanwhite"]
	path = themes/cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
